@model List<ToDo.Models.Item>
@{
	ViewData["Title"] = "My ToDo Lists";

	List<string> groupName = new List<string>();
	int groupLen;

}


@foreach (var item in Model)
{
	if (!groupName.Contains(item.GroupToDo))
	{
		groupName.Add(item.GroupToDo);
	}
}
@{
	groupLen = groupName.Count;
}

<div class="container">
	
		<div class="row row-cols-3">

			@foreach (string groupItem in groupName)

			{
				<div class="col">
					<table class="table table-striped border border-dark">
						<thead>
						<tr>@groupItem</tr>
							<tr>
								<th>Text</th>
								<th>Done</th>
								<th> </th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
							if (@item.GroupToDo == @groupItem)
								{
									<tr>
										<td>@item.TextToDo</td>
										<td>@item.CheckedDone</td>
										<td>
											<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
											<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
										</td>
									</tr>
								}
								
							}
							<tr><td><a asp-action="Create">Create new task</a></td></tr>
						</tbody>
					</table>
				</div>
			}
		</div>
	


</div>