@model List<ToDo.Models.Item>
@{
	ViewData["Title"] = "My ToDo Lists";

	List<string> groupName = new List<string>();
	int groupLen;

}
@* colors: 9FB3DF 9EC6F3 BDDDE4 FFF1D5*@

<script>
	function deleteItem(id) {
		if (confirm("Da li ste sigurni?")) {
			fetch(`/Items/Delete/${id}`, {
				method: 'POST'
			}).then(() => {
				location.reload(); 
			});
		}
	}

	function toggleDone(id, isChecked) {
		fetch(`/Items/ToggleDone`, {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({ id: id, done: isChecked })
		}).then(response => {
			if (!response.ok) alert("Error occured");
		});
	}
</script>
<style>

	.tableToDo {
		border: 2px, solid, black;
		border-radius: 20px;
		border-collapse: unset;
		margin: 5px;
		width: 100%;
	}

	td.groupName {
		text-align: center;
		width: 100%;
		font-weight: bold;
	}

</style>
@foreach (var item in Model)
{
	if (!groupName.Contains(item.GroupToDo))
	{
		groupName.Add(item.GroupToDo);
	}
}
@{
	groupLen = groupName.Count;
}

<div class="container">

	<div class="row row-cols-3">

		@foreach (string groupItem in groupName)

		{
			<div class="col">
				<table class="tableToDo">
					<thead>
						<tr>
							<td colspan="3" class="groupName">@groupItem</td>
						</tr>

					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							if (@item.GroupToDo == @groupItem)
							{
								<tr>
									<td>
										<input type="checkbox" style="margin-left: 2px; width: stretch;" class="form-check-input"
										@(item.CheckedDone ? "checked" : "")
											   onchange="toggleDone(@item.Id, this.checked)" />
									</td>
									<td>@item.TextToDo</td>
									<td>
										<a asp-action="Edit" asp-route-id="@item.Id">E</a>
										<button class="btn" style="padding: unset; width: 25px; height: 25px;" onclick="deleteItem(@item.Id)">X</button>
									</td>
								</tr>
							}

						}
						<tr colspan="3"><td style="width: fit-content; text-align: center;"><a asp-action="Create">C</a></td></tr>
					</tbody>
				</table>
			</div>
		}
	</div>



</div>

