@model List<ToDo.Models.Item>
@{
	ViewData["Title"] = "My ToDo Lists";

	List<string> groupName = new List<string>();
	int groupLen;

}
@* colors: 9FB3DF 9EC6F3 BDDDE4 FFF1D5*@

<script>
	function deleteItem(id) {
		if (confirm("Are you sure?")) {
			fetch(`/Items/Delete/${id}`, {
				method: 'POST'

			}).then(() => {
				location.reload();
			});
		}
	}

	function toggleDone(id, isChecked) {
		fetch(`/Items/ToggleDone`, {
			method: "POST",
			headers:{
				"Content-Type": "application/json"
		},
			body: JSON.stringify({ id: id, done: isChecked })
		}).then(response => {
			if (!response.ok) alert("Error occured after delete");
		});
	}

	function updateText(id) {
		const td = document.getElementById('td-' + id);
		const newText = td.innerText.trim();

		fetch(`/Items/UpdateText`, {
			method: "POST",
			headers:{
				"Content-Type": "application/json"
		},
			body: JSON.stringify({ id: id, text: newText })
		}).then(response => {
			if (!response.ok) alert("Error occured after update");
			 else location.reload();
		});
	}
	function createNewTask(groupName){
		const td = document.getElementById('new-' + groupName);
		const newText = td.innerText.trim();
		fetch('/Items/CreateNewTask', {
			method: "POST",
			headers:{
				"Content-Type": "application/json"
		},
			body:JSON.stringify({text: newText, groupName: groupName})
		}).then(response => {
		if(!response.ok) alert("Error detected while creating new task!");
		else location.reload();
		});
	}
</script>
<style>
	.btnIcon {
		border: none;
		padding: unset;
		width: 25px;
		height: 25px;
		background-color: transparent;
	}

	.tableToDo {
		border: 2px, solid, black;
		border-radius: 20px;
		border-collapse: unset;
		margin: 5px;
		width: 100%;
	}

	td.groupName {
		text-align: center;
		width: 100%;
		font-weight: bold;
	}

</style>
@foreach (var item in Model)
{
	if (!groupName.Contains(item.GroupToDo))
	{
		groupName.Add(item.GroupToDo);
	}
}
@{
	groupLen = groupName.Count;
}

<div class="container">

	<div class="row row-cols-3">

		@foreach (string groupItem in groupName)

		{
			<div class="col">
				<table class="tableToDo">
					<thead>
						<tr>
							<td colspan="3" class="groupName">@groupItem</td>
						</tr>

					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							if (@item.GroupToDo == @groupItem)
							{
								<tr>
									<td style="width:auto">
										<input type="checkbox" style="margin-left: 2px; "
											   class="form-check-input"
										@(item.CheckedDone ? "checked" : "")
											   onchange="toggleDone(@item.Id, this.checked)">
									</td>
									<td contenteditable="true" id="td-@item.Id" onblur="updateText(@item.Id)"
										style="width:100%; text-align:left;">
										@item.TextToDo
									</td>
									<td style="width:auto">
										<button class="btnIcon" onclick="deleteItem(@item.Id)">
											<i class="fas fa-trash"></i>
										</button>
									</td>
								</tr>
							}

						}
						<tr colspan="3">
							<td colspan="2" style="width:100%;">
								<div contenteditable="true" id="new-@groupItem"
									 style="margin-left: 20px;text-align:left; border: solid; 
border-width:2px; border-radius:2px"></div>
							</td>
							<td style="width: fit-content; text-align: center;">
								<button class="btnIcon" onclick="createNewTask('@groupItem')">
									<i class="fa-solid fa-plus"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		}
	</div>



</div>

