@model List<ToDo.Models.Item>

@{
	ViewData["Title"] = "test test test";

	List<string> groupName = new List<string>();
}

<h3>TEeeeeeeeeeeest</h3>


@foreach (var item in Model)
{
	if (!groupName.Contains(item.GroupToDo))
	{
		groupName.Add(item.GroupToDo);
	}
}


<div class="container">
	<div class="row">
		@foreach (string groupy in groupName)
		{
			<div class="col">
				<table>
					<thead>
						<tr>@groupy</tr>
						<tr>
							<th>Id</th>
							<th>Text</th>
							<th>Done</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							if (@item.GroupToDo == @groupy)
							{
								<tr>
									<td>@item.Id</td>
									<td>@item.TextToDo</td>
									<td>@item.CheckedDone</td>
									<td>
										<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
										<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		}
	</div>
</div>